---
// component imports
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";

const allPosts = await getCollection("posts");

---

<MainLayout title="My Blog">
  <section class="container about" aria-label="About Me">
	<img
	src="/images/steamingmug.png"
	alt="Intro image"
	class="rounded-full w-96 h-96 md:w-auto md:h-auto md:justify-self-end"
  />
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam quidem
        tempora beatae mollitia architecto optio sapiente repellendus natus.
      </p>
      <Link href="/about/" style="secondary" text="👋 About Me" />
    </div>
  </section>
  <section class="container" aria-label="New Blog Posts">
    <h2 class="h1">New Blog Posts</h2>
    <div class="post-container">    
		<div>{allPosts.slice(0, 3).map((p) => <PostCard post={p} />)}</div>              
    </div>
  </section>
</MainLayout>