---
import { getCollection } from "astro:content";
import { formatBlogPosts, slugify } from "../utils/blogutils"

const allPosts = await getCollection("posts");
const formattedPosts = formatBlogPosts(allPosts);
const allCategories = formattedPosts
  .map((post) => post.data && post.data.category ? post.data.category.toLowerCase() : '')
  .filter(category => category !== ''); 

const processedCats = allCategories.reduce((acc, category) => {
  // check if the category exists in the acc
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1
  }
}, {})

const { showCount, class: className } = Astro.props;

---

<ul class=`categories ${className}`>
  {
    Object.entries(processedCats).map(([key, val]) => (
      <li class="mb-2">
        <a class="badge" href={`/category/${slugify(key)}/`}>{key} {showCount && `(${val})`}</a>
      </li>
    ))
  }
</ul>