<section class="giscus mx-auto mt-10 w-full"></section>

<script
  src="https://giscus.app/client.js"
  data-repo="banditburai/genai-blog"
  data-repo-id="R_kgDOK2nEKA"
  data-category="Blog Post Comments"
  data-category-id="DIC_kwDOK2nEKM4CbrDh"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="transparent_dark"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>

<style>
  .giscus {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem; /* Adjust as needed */
  }
</style>
